.form {
    width: 700px;
    background-size: 40px 60px;
}
.btn-container{
    display: flex;
    justify-content: center;
    align-items: center;
}
button.demoBtn{
    margin: 10px;
    padding:10px;
    border-radius: 5px;

    width: 120px;
    height: 80px;
    background-repeat: no-repeat;
    background-size: cover;
}


.bg1 {
    background-image: url(https://clarifai.com/cms-assets/20180320222305/demographics-002.jpg);
}
.bg2{
    background-image: url(https://clarifai.com/cms-assets/20180320222304/demographics-001.jpg);
}
.bg3{
    background-image: url(https://clarifai.com/cms-assets/20180320222305/demographics-003.jpg);
}
.bg4{
    background-image: url(https://clarifai.com/cms-assets/20180320222306/demographics-004.jpg);
}

button.demoBtn:hover {
    background-color: aliceblue;
    color: black;
}