

.gender-container{
    width: 450px;
    height: 300px;
    display: inline-block;
    color: white;
    font-size: 1.5em;
    font-weight: bold;
    text-align: left;
}

#report-container div:not(:first-child) {
    display: inline-block;
}